.login-form .control-group {
    margin-bottom: 6px;
    position: relative;
}
.login-form .login-field {
    border-color: transparent;
    font-size: 17px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-indent: 3px;
    width: 299px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    border: 2px solid #dce4ec;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 0 9px 10px;
    text-indent: 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn.btn-primary {
    background-color: #1abc9c;
}
.btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px;
}
.btn {
    border: none;
    background: #34495e;
    color: white;
    font-size: 16.5px;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
.login-screen {
    min-height: 317px;
    padding: 23px 360px;
}
.login-form {
    background-color: #eceff1;
    border-radius: 6px;
    padding: 24px 23px 20px;
    position: relative;
}
.login {
    background: url("../images/login/imac.png") 0 0 no-repeat;
    background-size: 940px 778px;
    color: white;
    margin-bottom: 77px;
    padding: 38px 38px 267px;
    position: relative;
}

